.center{
  text-align: center!important;
}

th{
  text-align: center!important;

}
td{
  text-align: center!important;

}

.empList{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-color: rgb(219, 214, 214); */

}
button{
  padding:.4rem;
}

p{
  color:red;
}

